---
import Header from "@/components/Header";
import LayoutPortfolio from "@/layouts/LayoutPortfolio.astro";
import PortfolioCarousel from "@/components/PortfolioCarousel.tsx";
import "../assets/styles/global.css";
import DescargarBrochureSection from "@/components/DescargarBrochureSection";
import Footer from "@/components/Footer";

// import logoOffroadperu from "@/assets/images/logo_offroadperu.webp";
// import logoLaboratoriaBCP from "@/assets/images/logo_laboratoria_bcp.webp";
// import logoLVEnergy from "@/assets/images/logo_lvenergy.webp";
// import logoZukarzen from "@/assets/images/logo_zukarzen.webp";
// import logoLaboratoriaMackinsey from "@/assets/images/logo_laboratoria_mackinsey.webp";
// import logoLaboratoria from "@/assets/images/logo_laboratoria.webp";


const cases = [
  {
    logo: "/src/assets/images/logo_offroadperu.webp?url",
    logoAlt: "Off Road Peru",
    title: "Offroad Perú",
    description: `Offroad Perú ofrece equipos y accesorios para vehículos todoterreno, overland y racing. Es el punto de encuentro para quienes buscan rendimiento y resistencia en cada aventura. El cliente necesitaba una página web para mostrar el detalle de sus accesorios OFF ROAD de manera clara y accesible.`,
    how: [
      "Redujimos la carga de contenido técnico para evitar saturar al usuario con información innecesaria.",
      "Optimizamos la presentación del contenido mediante una estructura visual sencilla y fácil de navegar.",
      "Simplificamos la comprensión de la información destacando los beneficios clave de los productos.",
      "Seleccionamos y editamos cuidadosamente las imágenes para reforzar la identidad de marca y facilitar la lectura visual.",
      "Se priorizó un diseño limpio y ordenado, enfocado en mejorar la experiencia del usuario final.",
    ],
    images: [
      "/src/assets/images/portfolio_offroad_1.webp?url",
      "/src/assets/images/portfolio_offroad_2.webp?url",
    ],
    web: "#",
  },
  {
    logo: "/src/assets/images/logo_laboratoria_bcp.webp?url",
    logoAlt: "Laboratoria / BCP",
    title: "Laboratoria / BCP",
    description: `Innova BCP 2025 es una iniciativa que promueve ideas innovadoras enfocadas en resolver desafíos reales del sector financiero. A través de esta plataforma, el BCP invita a estudiantes, startups y profesionales a plantear soluciones que generen impacto en el futuro de la banca. El cliente necesitaba una página web para captar nuevas talentos femeninos para su Hackathon 2025.`,
    how: [
      "Redujimos la carga de contenido técnico para evitar saturar al usuario y agregamos animaciones para que sea más dinámica la navegación.",
      "Optimizamos la presentación del contenido mediante una estructura visual sencilla y fácil de navegar con los colores de las dos empresas participantes.",
      "Mostramos los beneficios del concurso junto con los desafíos para que el usuario visualice el reto y se motive a participar.",
      "Seleccionamos y editamos cuidadosamente las imágenes para reforzar la identidad de marca y facilitar la lectura visual.",
      "Se priorizó un diseño limpio y ordenado, enfocado en que el usuario pueda recorrer cualquier duda de la web desde el inicio al final de la plataforma.",
    ],
    images: [
      "/src/assets/images/portfolio_labbcp_1.webp?url",
      "/src/assets/images/portfolio_labbcp_2.webp?url",
    ],
    web: "#",
  },
  {
    logo: "/src/assets/images/logo_lvenergy.webp?url",
    logoAlt: "L&V Energy",
    title: "L&V Energy",
    description: `L&V Energy es una empresa especializada en soluciones energéticas sostenibles, orientada a generar eficiencia en el consumo eléctrico de hogares, empresas e industrias. Su objetivo es impulsar un uso más inteligente de la energía a través de asesoría, monitoreo y productos tecnológicos. El cliente necesitaba una web que pueda mostrar los cursos que ofrece para capacitación de líderes.`,
    how: [
      "Creamos una estructura de navegación sencilla que permite a las empresas encontrar fácilmente los programas según sus necesidades (por nivel, modalidad o solicitud).",
      "Agregamos secciones específicas para mostrar los beneficios y fortalezas de cada curso: metodología práctica, instructores certificados y casos de éxito.",
      "Añadimos un área de “Certificados validados” con los logotipos de las instituciones para dar confianza en la capacitación, retroalimentar e incentivar la inscripción.",
      "Implementamos formularios de inscripción y solicitud de información optimizados para facilitar el contacto y la conversión.",
      "Se priorizó un diseño limpio y ordenado, enfocado en mejorar la experiencia del usuario final.",
    ],
    images: [
      "/src/assets/images/portfolio_lyvenergy_1.webp?url",
      "/src/assets/images/portfolio_lyvenergy_2.webp?url",
    ],
    web: "#",
  },
  {
    logo: "/src/assets/images/logo_zukarzen.webp?url",
    logoAlt: "Zukarzen",
    title: "ZukarzenL",
    description: `Zukarzen es una pastelería saludable con sede en Lima, Perú, especializada en la elaboración de postres artesanales sin azúcar, sin gluten y sin lactosa. Su objetivo es ofrecer alternativas deliciosas y saludables para quienes buscan cuidar su alimentación sin renunciar al placer de un buen postre. El cliente necesitaba una página web que reflejara la identidad de Zukarzen como una pastelería saludable y profesional, y que comunicara sus productos de forma clara y atractiva.`,
    how: [
      "Se priorizó una navegación intuitiva que permitiera a los usuarios explorar fácilmente las categorías de productos, como tortas, cheesecakes, pies y opciones keto-friendly.",
      "Se estructuró el contenido para resaltar los beneficios de cada producto, incluyendo detalles sobre sus ingredientes y valores nutricionales, facilitando la toma de decisiones informadas por parte de los clientes.",
      "Se diseñaron secciones que muestran la variedad de postres disponibles, con imágenes atractivas y descripciones detalladas, para transmitir la calidad y el sabor de los productos.",
      "Se integró un sistema de contacto eficiente, incluyendo enlaces directos a WhatsApp, para facilitar la comunicación y los pedidos por parte de los clientes.",
      "El diseño final refleja la esencia de Zukarzen: una combinación de salud, sabor y arte en la pastelería, alineado con su compromiso de ofrecer postres deliciosos sin comprometer el bienestar de sus clientes.",
    ],
    images: [
      "/src/assets/images/portfolio_zukarzen_1.webp?url",
      "/src/assets/images/portfolio_zukarzen_2.webp?url",
    ],
    web: "#",
  },
  {
    logo: "/src/assets/images/logo_laboratoria_mackinsey.webp?url",
    logoAlt: "Laboratoria",
    title: "Laboratoria",
    description: `Laboratoria impulsa el talento femenino en tecnología, brindando formación y oportunidades para cerrar la brecha de género en la industria digital. El cliente necesitaba una web que le permita mostrar ciertos puntos clave sobre su estudio y agregando también las imágenes descargables y animaciones que sumaban mucho valor para la comprensión del mensaje.`,
    how: [
      "Se priorizo utilizar animaciones puntuales en algunas secciones de la web para no saturar al usuario.",
      "Se trabajo la información de cada texto para que sea simple de comprender y se resalten las palabras claves referentes al estudio.",
      "Sobre las imágenes, se optimizaron para que no demore la carga en su visualización y descarga.",
      "Se agrego un switch para cambiar el idioma a portugués a requerimiento del cliente. Este se coloco en el header para su rápido uso y fácil ubicación.",
      "Cada sección se trabajo para que en la mitad de la página se agreguen estrategicamente los botones de 'Descarga el reporte'.",
      "Para llevar un control de las descargas se propuso un excel con ciertos campos detallados para que puedan hacer seguimiento de las empresas que descargan e invitarlos a conocer más del estudio u otro objetivo.",
    ],
    images: [
      "/src/assets/images/portfolio_labmack_1.webp?url",
      "/src/assets/images/portfolio_labmack_2.webp?url",
    ],
    web: "#",
  },
];
---

<LayoutPortfolio>
  <Header client:load />

  <section
    class="relative w-full h-[8rem] md:h-[10rem] overflow-hidden
    flex items-center justify-center"
  >
    <video
      class="absolute top-0 left-0 w-full h-full object-cover"
      src={"https://res.cloudinary.com/dz0ajaf3i/video/upload/v1746928699/KTALWEB/hero_banner_ff0ijr.mp4"}
      autoplay
      loop
      muted
    >
    </video>

    <h1
      class="z-10 relative w-full text-center text-white
      font-nunito text-4xl md:text-5xl font-bold"
    >
      Explora nuestros casos de éxito
    </h1>

    <div
      class="absolute top-0 left-0 w-full h-full bg-[rgba(0,0,0,.5)] backdrop-blur-sm"
    >
    </div>
  </section>

  <PortfolioCarousel client:load cases={cases} />

  <DescargarBrochureSection client:load />

  <Footer client:load />
</LayoutPortfolio>
