---
import diseno from "@/assets/images/diseño_captar_convertir_crecer.webp?url";
---

<!-- Diseñadas para captar, convertir y crecer -->
<section class="py-12 lg:py-16 bg-white">
  <div class="container mx-auto text-center mb-8">
    <h2 class="font-nunito text-3xl md:text-4xl font-medium text-black mb-6">
      Diseñadas para <span class="text-primary-purple-100"
        >captar, convertir y crecer</span
      >
    </h2>
  </div>
  <divS
    class="container mx-auto flex flex-col-reverse md:flex-row lg:items-center gap-8"
  >
    <!-- Imagen -->
    <div class="md:w-2/3 lg:w-2/5">
      <img
        src={diseno}
        alt="Diseñadas para captar, convertir y crecer"
        class="rounded-lg shadow-md w-full"
      />
    </div>
    <!-- Textos -->
    <div class="md:w-1/3 lg:w-3/5">
      <ul class="space-y-8">
        <li>
          <button
            class="font-nunito text-xl font-bold text-primary-purple-100 mb-2 w-full text-left flex md:hidden"
            onclick="this.nextElementSibling.classList.toggle('hidden'); this.querySelector('svg.plus').classList.toggle('hidden'); this.querySelector('svg.minus').classList.toggle('hidden')"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 mr-2 transition-transform duration-300 plus"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path d="M12 4v16m8-8H4"></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 mr-2 transition-transform duration-300 hidden minus"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path d="M20 12H4"></path>
            </svg>
            Optimización
          </button>
          <div class="md:block">
            <h3
              class="hidden md:block font-nunito text-xl font-bold text-primary-purple-100 mb-2"
            >
              Optimización
            </h3>
            <p class="font-nunito text-gray-600">
              Carga veloz y rendimiento optimizado para una experiencia sin
              fricciones.
            </p>
            <div class="h-[.1px] mt-2 lg:mt-3 w-full bg-primary-purple-100">
            </div>
          </div>
        </li>
        <li>
          <button
            class="font-nunito text-xl font-bold text-primary-purple-100 mb-2 w-full text-left flex items-center md:hidden"
            onclick="this.nextElementSibling.classList.toggle('hidden'); this.querySelector('svg.plus').classList.toggle('hidden'); this.querySelector('svg.minus').classList.toggle('hidden')"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 mr-2 transition-transform duration-300 plus"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path d="M12 4v16m8-8H4"></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 mr-2 transition-transform duration-300 hidden minus"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path d="M20 12H4"></path>
            </svg>
            Estructura efectiva
          </button>
          <div class="md:block">
            <h3
              class="hidden md:block font-nunito text-xl font-bold text-primary-purple-100 mb-2"
            >
              Estructura efectiva
            </h3>
            <p class="font-nunito text-gray-600">
              Enfocadas en convertir visitantes en clientes, con una navegación
              fluida y altamente interactiva.
            </p>
            <div class="h-[.1px] mt-2 lg:mt-3 w-full bg-primary-purple-100">
            </div>
          </div>
        </li>
        <li>
          <button
            class="font-nunito text-xl font-bold text-primary-purple-100 mb-2 w-full text-left flex items-center md:hidden"
            onclick="this.nextElementSibling.classList.toggle('hidden'); this.querySelector('svg.plus').classList.toggle('hidden'); this.querySelector('svg.minus').classList.toggle('hidden')"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 mr-2 transition-transform duration-300 plus"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path d="M12 4v16m8-8H4"></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 mr-2 transition-transform duration-300 hidden minus"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path d="M20 12H4"></path>
            </svg>
            Escalables
          </button>
          <div class="md:block">
            <h3
              class="hidden md:block font-nunito text-xl font-bold text-primary-purple-100 mb-2"
            >
              Escalables
            </h3>
            <p class="font-nunito text-gray-600">
              Diseñadas para crecer contigo en el tiempo, permitiéndote integrar
              fácilmente una tienda, blog, sistema de reservas u otras secciones
              sin complicaciones.
            </p>
            <div class="h-[.1px] mt-2 lg:mt-3 w-full bg-primary-purple-100">
            </div>
          </div>
        </li>
        <li>
          <button
            class="font-nunito text-xl font-bold text-primary-purple-100 mb-2 w-full text-left flex items-center md:hidden"
            onclick="this.nextElementSibling.classList.toggle('hidden'); this.querySelector('svg.plus').classList.toggle('hidden'); this.querySelector('svg.minus').classList.toggle('hidden')"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 mr-2 transition-transform duration-300 plus"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path d="M12 4v16m8-8H4"></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 mr-2 transition-transform duration-300 hidden minus"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path d="M20 12H4"></path>
            </svg>
            Navegación intuitiva
          </button>
          <div class="md:block">
            <h3
              class="hidden md:block font-nunito text-xl font-bold text-primary-purple-100 mb-2"
            >
              Navegación intuitiva
            </h3>
            <p class="font-nunito text-gray-600">
              Experiencia intuitiva con estructura clara, navegación fluida y
              contenido fácil de entender.
            </p>
            <div class="h-[.1px] mt-2 lg:mt-3 w-full bg-primary-purple-100">
            </div>
          </div>
        </li>
        <li>
          <button
            class="font-nunito text-xl font-bold text-primary-purple-100 mb-2 w-full text-left flex items-center md:hidden"
            onclick="this.nextElementSibling.classList.toggle('hidden'); this.querySelector('svg.plus').classList.toggle('hidden'); this.querySelector('svg.minus').classList.toggle('hidden')"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 mr-2 transition-transform duration-300 plus"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path d="M12 4v16m8-8H4"></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 mr-2 transition-transform duration-300 hidden minus"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path d="M20 12H4"></path>
            </svg>
            Diseño adaptable
          </button>
          <div class="md:block">
            <h3
              class="hidden md:block font-nunito text-xl font-bold text-primary-purple-100 mb-2"
            >
              Diseño adaptable
            </h3>
            <p class="font-nunito text-gray-600">
              Diseños que se adaptan a cualquier dispositivo para una
              experiencia óptima en computadora, tablet o celular.
            </p>
            <div class="h-[.1px] mt-2 lg:mt-3 w-full bg-primary-purple-100">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </divS>
</section>
