<!-- Tu negocio merece una página web -->
<section
  class="pt-[6rem] px-5 sm:container mx-auto max-w-7xl flex flex-col lg:flex-row items-center justify-between gap-8"
>
  <div class="lg:pl-10 lg:w-2/5 max-w-lg 3xl:max-w-2xl">
    <h2
      class="font-nunito text-center lg:text-start text-3xl lg:text-4xl font-medium text-black mb-4 lg:pr-8"
    >
      Creamos la web <span class="degradado-c3 font-semibold">que </span>
      <br />
      <span class="degradado-c3 font-semibold">merece tu negocio</span>
    </h2>
    <p
      class="font-nunito font-medium text-lg text-gray-600 pr-4 text-center lg:text-start"
    >
      Hoy en día es necesario contar con una herramienta digital adicional a las
      redes sociales, que sea una pista de aterrizaje para todos esos usuarios
      que desean explorar y conocer más sobre tu negocio.
    </p>
  </div>
  <div class="flex-1 flex justify-center">
    <div class="w-[95%] h-[150%] z-0 pointer-events-none">
      <video
        class="z-10 rounded-4xl shadow-md w-full h-full object-cover"
        src={"https://res.cloudinary.com/dz0ajaf3i/video/upload/v1749927871/KTALWEB/video_ktalweb_bci6b8.mov"}
        autoplay
        loop
        muted
        playsinline
      >
      </video>
    </div>
  </div>
</section>
